@import "../variables";

.footer_cont {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 80px;
   background-color: $color1;
   & article {
      color: $color4;
   }
}