@import "../variables";

.chat_cont {
  width: 60%;
  position: relative;
  height: 100%;
  border: 1px solid $color5;

  .interlocutor_cont {
    width: 100%;
    background-color: $color2;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    &_info{
       font-size: 25px;

       &_icon {
        margin-right: 10px;
       }

       &_active {
        color: $green;
       }
    }

    &_name {
      display: flex;
       height: 100%;
        align-items: center; 
        justify-content: center;

        .interlocutor_name {
          color: $color4;
          margin-right: 5px;
          font-size: 18px;
        }
    
        .interlocutor_avatar{
           height: 50px;
           width: 50px;
        }
    }

  }

  .messages_cont {
    overflow-y: scroll;
    height: calc(100% - 160px);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $color1;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .message_cont {
      position: relative;
      display: flex;
      align-items: center;
      padding: 2px;
      color: $color3;

      &_text_cont {
        width: auto;
        max-width: 200px;
        line-break: anywhere;
        height: auto;
        padding: 2px;
        font-family: $mainFontFamily;
        position: relative;

        &::before {
          border: 0.5px solid red;
          border-radius: 5px;
          content: "";
          width: 100%;
          height: 100%;
          background-color: $color2;
          opacity: 0.1;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .choose_interlocutor_cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color2;
    opacity: 0.6;

    .choose_interlocutor {
      font-size: 35px;
      color: $color3;
    }

    .choose_interlocutor_icon {
      font-size: 40px;
      color: $color4;
      animation-name: chat_icon;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    @keyframes chat_icon {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(30deg);
      }
      50% {
        transform: rotate(0deg);
      }
    }
  }

  .inputs_cont {
    position: absolute;
    bottom: 0;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid $color4;
    width: 100%;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $color1;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .chat_textarea {
      width: calc(100% - 135px);
      height: 100%;
      resize: none;
      background-color: rgba($color6, 0.5);
      color: $color5;
      font-family: $mainFontFamily;
      position: relative;
    }

    .smile_cont {
      font-size: 20px;
      margin: 10px;
      color: $color2;

    }

    .smile_icon {
      color: $color1;
      position: absolute;
      font-size: 25px;
      right: calc(80px + 20px)
    }

    .send_button {
      position: absolute;
      right: 0;
      width: 80px;
      height: 60px;
      margin: 10px;
    }

    .emoji_cont {
      position: absolute;
      border: 1px solid $color5;
      bottom: 90px;
      left: 0;
      z-index: 6;
    }

  }
}