@import "../../variables";

.header_main {
  height: 100px;
  padding: 0px 50px;
  background-color: $color1;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../../assests/images/EmbellishedAbsoluteKestrel-size_restricted.gif");

  .header_logo_link {
    height: 100% !important;
    width: auto;
    
    .header_logo_cont {
      float: left;
      display: flex;
      align-items: center;
      height: 100% !important;
      justify-content: center;
    }

     @media (max-width: 550px){
        height: 70% !important;
  }
  }

  .messages_open_badge {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 400px){
      margin-left: 10px;
     }

    &_icon {
      font-size: 35px;
      color: $color3;
      cursor: pointer;
      z-index: 3;

      @media (max-width: 400px){
        font-size: 25px;
       }
  
    }
  }

  .requests_badge {
    margin-left: 10px;

    .requests_icon {
      font-size: 35px;
      color: $color3;
      cursor: pointer;
      margin-left: 10px;
      text-shadow: 0 0 25px #FFF, 0 0 25px #FFF, 0 0 25px #FFF, 0 0 25px #49ff18, 0 0 25px #49FF18, 0 0 25px #49FF18, 0 0 25px #49FF18, 0 0 25px #49ff18;

      @media (max-width: 400px){
       font-size: 25px;
       }
  
    }
  }

  .requests_badge_messages {
    margin-left: auto;
    @extend .requests_badge;
  }

  .user_cont {
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid $color3;
    background-color: $color2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    @media (max-width: 400px){
      padding: 5px;
     }

    .user_name {
      color: $color4;
      margin-right: 10px;
    }

    .user_icon {
      font-size: 30px;
      color: $color3;
      margin: 0 15px;
    }
  }
  
  @media (max-width: 500px){
        padding: 0px 10px !important;
  }
}