@import "../../../variables";

.owner_main{
     width: 250px;
     height: auto;
     position: absolute;
     top: 80px;
     right: 5px;
     border: 1px solid $color5;
     margin: 2px;
     z-index: 5;
     background-color: $color2;
}

.owner_link_cont{
  padding: 5px;
  width: auto;
  text-decoration: underline;
  color: $color7;
  display: flex;
  justify-content: space-between;
  padding:0 5px 10px 5px;

  &_link {
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: $color4;
    }
  }
}

.data_cont {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
  .owner_email {
    color: $color7;
  }

  .signout_button{
    @include gradientButton($color1, $color2, $color4);
  }
}