@import "../../variables";

.chat_cont{
    width: 60%;
    position: relative;
    height: 100%;
    border: 1px solid $borderColor;
}

.inputs_cont {
    position: absolute;
    bottom: 0;
    height:90px;
    display: flex;
    align-items: center;
    border: 1px solid $borderColor;
    width: 100%;
    .chat_textarea {
        width: calc(100% - 135px);
        height: 100%;
    }
    .smile_cont {
        font-size: 20px;
        margin: 10px;
        color: $color2;
    }
    .smile_icon{
        color: $color1;
        position: absolute;
        right: calc(80px + 20px)
    }
    .send_button{
        position:absolute;
        right: 0;
        width: 80px;
        margin: 10px;
    }

    .emoji_cont{
        position: absolute;
        border: 1px solid $borderColor;
        bottom: 90px;
        left: 0;
    }
    
}