@import "../../../variables";

.inputs_cont {
  position: absolute;
  bottom: 0;
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 0.5px solid $color4;
  width: 100%;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $color1;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .chat_textarea {
    width: calc(100% - 190px);
    height: 100%;
    resize: none;
    background-color: rgba($color6, 0.5);
    color: $color5;
    font-size: 20px;
    font-family: $mainFontFamily;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .upload_form_item {
    margin: 5px;

    .upload_button {
      width: 25px;
      height: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      .upload_icon{
         font-size: 30px;
         color: $color2;
      }
    }

    .ant-upload-list {
      position: absolute !important;
      top: 15px !important;
    }
  }

  .smile_cont {
    font-size: 20px;
    color: $color2;
  }

  .smile_icon {
    color: $color1;
    margin: 5px;
    font-size: 25px;
    z-index: 2;
    cursor: pointer;
  }

  .record_icon {
    cursor: pointer;
    font-size: 25px;
    z-index: 2;
    color: $color7;
  }

  .send_button {
    position: absolute;
    right: 5px;
    width: 80px;
    height: 60px;
    margin: 5px;

    @include gradientButton($color2, $color5, $color3);
  }

  .emoji_cont {
    position: absolute;
    border: 1px solid $color5;
    bottom: 90px;
    left: 0;
    z-index: 6;

    em-emoji-picker {
      width: 100% !important;
    }
  }

}