@import "../../../variables";

.owner_main{
     width: 200px;
     height: auto;
     position: absolute;
     top: 80px;
     right: 5px;
     border: 1px solid $color5;
     margin: 2px;
     z-index: 5;
     background-color: $color2;
}

.owner_link_cont{
  padding: 5px;
  width: auto;
  text-decoration: underline;
  color: $color1;

  &_link {
    margin: 15px; 
    cursor: pointer;

    &:hover {
      color: $color4;
    }
  }
}

.data_cont {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
  .owner_email {
    color: $color4;
  }
}