@import "../../../variables";

.owner_main{
     width: 200px;
     height: auto;
     position: absolute;
     top: 80px;
     right: 5px;
     border: 1px solid $borderColor;
     margin: 2px;
     background-color: $color2;
}

.owner_link{
  cursor: pointer;
  width: auto;
  text-decoration: underline;
  color: $color1;
}

.data_cont {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
  .owner_email {
    color: $textColor2;
  }
}