@import "../variables";

.message_alert_card {
  background-color: $color5 !important;
  border: none !important;
  cursor: pointer;
  width: 200px;
  height: 75px;

  & .ant-card-body {
    border: none !important;
  }
}
