@import "../variables";

.list {
  width: 100%;
  max-height: 500px;
  height: 100%;
  padding: 5px 0;
  overflow-y: scroll;
  max-width: 550px;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .empty_cont {
    margin: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .empty_icon {
      color: $color3;
      font-size: 30px;
      filter: drop-shadow(0px 0px 20px $color4);
    }

    .empty_text {
      margin: 0;
      font-size: 25px;
      color: $color4;
      filter: drop-shadow(0px 0px 20px $color3);
    }
  }

  .list_item {
    display: flex !important;
    cursor: pointer;
    position: relative;
    align-items: center;
    padding: 5px;
    justify-content: flex-start !important;
    border: 5px solid $color5 !important;
    border-radius: 15px;
    box-shadow: 0px 0px 9px 2px #000000;
    box-sizing: border-box;
    margin: 10px 0;
    height: 80px;
    font-weight: 900;
    background-color: rgba($color1, 0.5);
    opacity: 0.65;

    &_user_avatar {
      font-size: 20px;
      color: $color1;
    }

    & article:nth-child(1) {
      margin-left: 15px;
      color: $color7;
      font-weight: 900;
    }

    & article:nth-child(2) {
      margin-left: 15px;
      color: $color3;
      font-weight: 600
    }

    &_message {
       @extend  .list_item;
       background-color: $color6;
       display: flex;

        &_interlocutor {
          @extend .list_item_message;
           background-color: $color7;
        }

       & article:nth-child(1) {
        margin-left: 15px;
        color: $color3;
      }
  
      & article:nth-child(2) {
        margin-left: 15px;
        color: $color4;
      }
    }

    &_action {
      position: absolute;
      right: 10px;

      &_disabled {
          @extend .list_item_action;
          color: $color5;
          pointer-events: none;
      }

      &_button { 
        @extend .list_item_action;
        @include gradientButton($color2, $color4, $color5);
      }

      &_message {
        @extend .list_item_action;
        pointer-events: none;
        color: $color5;
        display: flex;
        align-items: center;

        &_alert_span {
          width: 30px;
          position: relative;
          right: 0;
          height: 30px;
          background-color: $color3;
          margin-left: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid red;
          font-weight: 900;
        }
      }

    }

    &:hover {
      box-shadow: none;
    }
  }


}
