@import "../../../../variables.scss";

.recover_password_main {
    width: 100%;
    background-color: inherit;
    height: auto;  
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        color: $color7;
        margin-bottom: 7.5px;
    }

    .form_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        & input {
            @include mainInput($color3, $color4)
        }
    }

    .timeout_string {
        color: $color4;
        font-weight: 900;
        font-size: 20;
    }

    .message{
        color: $color5;
    }

    .recover_button {
        @include gradientButton($color1, $color2, $color4);
    }
}