@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: $mainFamily;
}

.users_pagination {
  position: absolute;
  bottom: 75px;
}

.centered_users_cont {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.error-cont {
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center
}

.ant-pagination {
  & .ant-pagination-item {
    width: 40px;
    height: 40px;
    padding: 5px 0;
    font-size: 20px;
    background-color: $textColor2;
  }

  & .ant-pagination-item-link path {
    color: $textColor2;
  }
}

.ant-message-notice {
  margin: 25px;

  .ant-message-notice-content {
    width: 200px;
    height: 75px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    background-color: $borderColor !important;
    color: $textColor2;
    box-shadow: -10px 0px 13px -7px $textColor1, 10px 0px 13px -7px $textColor1, 5px 5px 15px 5px $textColor1 !important;
  }
}

.border_div {
  width: 4px;
  height: 50%;
  top: calc(50% / 2);
  position: absolute;
  background-color: $gray;
  right: 0;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.disabled {
  pointer-events: none;
}