html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.users_pagination{
  position: absolute;
  bottom: 75px;
}

.centered_users_cont {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.error-cont{
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  alignItems: center;
  justifyContent: center
}