// colors
$color1: #816197;
$color2: rgb(117, 180, 205);
$color3: #c09546;
$color4: rgb(167, 117, 117);
$color5: rgb(164, 69, 85);
$color6: #938d8d;
$color7: rgb(12, 122, 12);

// font families
$mainFontFamily: 'Itim', cursive;

// mixins
@mixin gradientButton($color1, $color2, $textColor) {
    background-image: linear-gradient(to bottom right, rgba($color1, 0.8), rgba($color2, 0.8)) !important;
    border-radius: 10px;
    border: none !important;
    font-weight: 900;
    box-shadow: 2px 2px 5px 0px $color1;
    transition: 0.25s;
    & span {
       color: $textColor !important;
    }

    &:hover {
        background-image: linear-gradient(to bottom right, $color2, $color1) !important;
        border-radius: 10px;
        border: none !important;
        box-shadow: -2px -2px 5px 0px $color1;
    }
}

@mixin mainInput($color1, $color2) {
    background:transparent !important;
    border-radius: 10px !important;
    border: 2px solid $color1 !important;
    font-weight: 900;
    box-shadow: 2px 2px 5px 0px $color1;
    transition: 0.25s;
    font-size: 16px;
    font-weight: 900;
    color: $color1 !important;

    input{

        &::placeholder {
        color: $color2 !important;
        opacity: 0.75;
        }

        &:focus {
            &::placeholder {
                opacity: 0.25;
                }
        }
    }

    &::placeholder {
        color: $color2 !important;
        opacity: 0.75;
    }

    &:focus {
        &::placeholder {
            opacity: 0.25;
        }
    }
}