@import "../variables";

.open_icon {
    position: fixed;
    right: 25px;
    bottom: 95px;
    font-size: 85px;
    color: $textColor1;
    cursor: pointer;
    z-index: 3;
    animation: chat_icon 3s ease-in-out infinite;
    & svg {
        filter: drop-shadow( 0px 0px 20px rgba(121, 67, 104));
    }

    @keyframes chat_icon  {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(30deg);
        }
        50% {
            transform: rotate(0deg);
        }
    }
}