@import "../variables.scss";

.dropdown_main_cont {
    margin-left: auto;

    .list_item_actions_icon {
        color: $color5;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background-color: $color3;
            color: $color6;
        }
    }
}

.list_item_actions_dropdown {
    background-color: $color2 !important;
    border-radius: 50px !important;

    ul {
        background-color: $color2 !important;
        padding: 0 !important;

        li {
            background-color: $color2 !important;
            color: $color7 !important;

            &:hover {
                background-color: $color3 !important;
            }
        }
    }
}
