@import "../variables";

.list {
  width: 100%;
  padding: 5px 0;
  maxWidth: 550px;

  .empty_cont {
    margin: 50px 0;

    .empty_icon {
      color: $color3;
      font-size: 30px;
      filter: drop-shadow(0px 0px 20px $color4);
    }

    .empty_text {
      margin: 0;
      font-size: 25px;
      color: $color4;
      filter: drop-shadow(0px 0px 20px $color3);
    }
  }

  .list_item {
    display: flex !important;
    cursor: pointer;
    position: relative;
    justify-content: flex-start !important;
    border: 1px solid $color5 !important;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 2px #000000;
    box-sizing: border-box;
    margin: 5px 0;
    height: 80px;
    background-color: $color1;
    opacity: 0.65;

    & article:nth-child(1) {
      margin-left: 15px;
      color: $color3;
    }

    & article:nth-child(2) {
      margin-left: 15px;
      color: $color4;
    }

    &_message {
       @extend  .list_item;
       background-color: $color4;

        &_interlocutor {
          @extend .list_item_message;
           background-color: $color2;
        }

       & article:nth-child(1) {
        margin-left: 15px;
        color: $color3;
      }
  
      & article:nth-child(2) {
        margin-left: 15px;
        color: $color4;
      }
    }

    &_action {
      position: absolute;
      right: 10px;
      color: $color4;

      &:hover {
        color: $color3
      }

      &_disabled {
          @extend .list_item_action;
          color: $color5;
          pointer-events: none;
      }

      &_message {
        @extend .list_item_action;
        pointer-events: none;
        color: $color5;
      }

    }

    &:hover {
      box-shadow: none;
    }
  }


}
